.statereporter__main
  .widget__header
    .state
      font-size 1.6em
      &--ok
        color $success-color
      &--warning
        color $unknown-color
      &--error
        color $failure-color
